body {
  margin: 0;
}

.pokeball-back {
  position: fixed;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 100%;
  opacity: 0.7;
}

#filter {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 30px;
  border: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ccc;
}

#filter:focus {
  outline: none;
}

.poke-list {
  float: right;
  margin-top: 100px;
  width: 70%;
  text-transform: capitalize;
  opacity: 0.9;
}

.poke-list-item {
  display: flex;
  position: relative;
  padding: 10px;
  border: 1px solid black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #333;
  color: white;
  transition: background-color 0.5s;
}

.poke-list-item:hover {
  background-color: #555;
}

.poke-list-item img {
  margin-right: 10px;
  width: 100px;
}